$correctAnswer: #13AF5F;
$correctAnswerBoxShadow: #A3C293;
$correctAnswerBackground: #FCFFF5;
$correctAnswerColor:#2C662D;
$incorrectAnswer: #ED2150;
$incorrectAnswerBoxShadow: #E0B4B4;
$errorMessageBackground: #FFF6F6;
$errorMessageColor: #9F3A38;
$boxShadow: rgba(34, 36, 38, 0.15);
$buttonBackground: #1D70A2;
$buttonHover: #006087;
$buttonText: #F6F0F2;