$boldFontWeight: 700;
$normalFontWeight: 400;
$lateFontFamily: 'Lato', sans-serif;

@include mq-mobile {
    * {
        font-family: $lateFontFamily;
    }
    
    h1 {
        font-weight: $boldFontWeight;
        text-align: center;
    }

    p {
        font-weight: $normalFontWeight;
    }
}