article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@media (min-width: 320px) {
  html {
    font-size: 125%;
  }
  body, #huntr-react-container-2 {
    background: #EFF2F7;
  }
  div {
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px;
  }
  h1, .userScore {
    font-family: "Limelight", cursive;
    font-weight: 700;
    text-align: center;
  }
  p {
    color: #393E41;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }
  p[class*=question] {
    font-weight: 700;
  }
  div {
    background: #F9F9F9;
  }
  button {
    width: 100%;
  }
  label {
    color: #393E41;
    line-height: 1.6rem;
    margin-left: 10px;
  }
  button {
    color: #2A1724;
    background-color: #A7CAB1;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 12px 25px;
    transition: 300ms ease, color 300ms ease, box-shadow 300ms ease, background-color 300ms ease, -webkit-box-shadow 300ms ease;
  }
  button:hover, button:focus {
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0, rgba(155, 155, 155, 0.15) inset;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0, rgba(155, 155, 155, 0.15) inset;
  }
  button[type=submit] {
    background-color: #A7CAB1;
  }
  button[type=submit]:hover {
    background: #88B7B5;
  }
  button[type=reset] {
    margin-top: 20px;
    background-color: #D1B3C4;
  }
  button[type=reset]:hover {
    background: #B392AC;
  }
  pre, code {
    font-family: "Merriweather", serif;
  }
  .hide {
    display: none;
  }
  .quizWrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1080px;
  }
  .codeSnippet {
    background: #E1E9F7;
    height: 180px;
    position: relative;
    padding: 0;
  }
  .codeSnippet pre {
    border-radius: 3px;
    padding: 0;
    position: absolute;
    left: -120px;
    width: 29%;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .incorrectAnswer {
    background: #D1B3C4;
  }
  .correctAnswer {
    -webkit-box-shadow: 0 0 0 1px #2C662D inset, 0 0 0 0 transparent;
            box-shadow: 0 0 0 1px #2C662D inset, 0 0 0 0 transparent;
    background: #A7CAB1;
    transition: opacity 500ms ease, color 500ms ease, background-color 500ms ease, box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
  }
  .correctAnswer label {
    color: #2C662D;
  }
  .questionOneWrapper,
  .questionTwoWrapper,
  .questionThreeWrapper,
  .questionFourWrapper {
    box-shadow: 0 1px 2px 0 rgba(155, 155, 155, 0.15);
    border-radius: 5px;
    border: 1px solid rgba(155, 155, 155, 0.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(155, 155, 155, 0.15);
  }
  .error {
    background: #FFF6F6;
    padding: 15px 25px;
  }
  .incorrectAnswer {
    background: #D1B3C4;
  }
  .error, .incorrectAnswer {
    -webkit-box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
            box-shadow: 0 0 0 1px #AA92A0 inset, 0 0 0 0 transparent;
    transition: opacity 500ms ease, color 500ms ease, background-color 500ms ease, box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
    border-radius: 5px;
  }
  .error label, .incorrectAnswer label {
    color: #9f3a38;
  }
  .userScore {
    background: #BDD5EA;
    transition: opacity 1000ms ease, color 1000ms ease, background-color 1000ms ease, box-shadow 1000ms ease, -webkit-box-shadow 1000ms ease;
  }
}

@media (min-width: 768px) {
  .quizWrapper {
    width: 80%;
  }
  div {
    padding: 30px;
  }
  .wrapper {
    margin: 0;
    padding: 15px;
  }
  .buttonWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buttonWrapper .button {
    width: 50%;
  }
}

@media (min-width: 1080px) {
  div {
    padding: 30px 60px;
  }
  .quizWrapper {
    width: 50%;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 150%;
  }
  div {
    padding: 30px 60px;
  }
  .codeSnippet {
    height: 215px;
  }
}
